.hero {
  // .hero-text
  &-text {
    font-size: 40px;
    font-size: clamp(16px, 2vw, 40px);
    color: gray;
    font-weight: 500;
  }

  //   .hero-btn
  &-btn {
    margin-top: 32px;
  }
  //   .hero-top
  &-top {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 172px;
  }
  // .hero-bottom
  &-bottom {
    position: relative;
    background-color: $color-bg-secondary;
    border-radius: $border-radius;

    height: 477px;

    // .hero-bottom__image
    &__image {
      // .hero-bottom__image-phone
      &-phone {
        position: absolute;
        bottom: 0;
        left: 0;
        z-index: 2;

        img {
          height: 550px;
        }
      }
      // .hero-bottom__image-android
      &-android {
        position: absolute;
        bottom: 0;

        img {
          height: 555px;
        }
      }
    }

    // .hero-bottom__discount
    &__discount {
      position: absolute;
      background-color: $color-primary-active;
      font-size: 86px;
      padding: 19px 35px;
      color: #fff;
      border-radius: 42px;

      right: 69px;
      top: 50%;
      transform: translateY(-50%);
    }
  }
}
